.table-container {
  margin: 20px;

  h1 {
    text-align: center;
  }

  .filter {
    display: flex;
    justify-content: flex-end;
  }

  .post-table {
    width: calc(100% - 40px);
    margin: 0 auto;

    .fixed-width {
      width: 250px;
    }
  }
}

.noData {
  color: #a5a5a5;
  text-align: center;
}